a.navbar-brand{
    font-family: Segoe Script;
    font-size: 100px;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    color: red !important;
    font-weight: 999;
}
a.navlink{
    font-family: Segoe Script !important; 
    color: black !important
}
a:hover{
    transform: skew(-5deg);
    
}
.nav-link{
    font-family: Segoe Script !important;
    font-size: xxx-large;
    display: block;
    font-weight: 999;
}
body{
    background-color: whitesmoke;
}
.navbar{
    display: block;
    color: black;
    background-color: whitesmoke !important;
}
.navbar .navbar-nav {
    float: none;
    background-color:whitesmoke!important
    
  }
  
  .navbar .navbar-collapse {
    text-align: center;
    justify-content: center;
  }
div.fluid_container{
    display: flex;
    justify-content: center;
    background-color:whitesmoke;
}
.display-4{
    display: flex;
    justify-content: center;
    font-weight: 999
}
p{
    display: flex;
    justify-content: center;
    font-size: xxx-large;
   
}
.btn-primary{
    display: block;
    justify-content: center;
}
.carousel-inner{
    justify-content: center;
}
.jumbotron{
    font-family: Segoe Script !important;
    background-color:whitesmoke;
    color: black;
    justify-content: center;
}
.navbar-nav .nav-link{
    color: black !important;
}
svg{
    color: #fe2712!important;
}
i{
    color: #fe2712 !important;
}
.container{
    display:flex;
    justify-content: center;
}
#para{
    display:flex;
    justify-content: center;
}
.footer{
    display:flex;
    justify-content: center;
    font-size: x-large;
    font-family: Segoe Script !important;
}
.btn-group-lg>.btn, .btn-lg{
    width: 100px;
    display: flex !important;
    justify-content: center !important;
}
.buttons{
    display: flex;
    justify-content: center !important;
}
form{
    width: 500px !important;
    justify-content: center;
}
.dog-form{
    display: flex;
    justify-content: center;
}