a.navbar-brand{
    font-family: Segoe Script;
    font-size: 100px;
    display: flex;
    justify-content: center;
    color: #DB4437!important;
    font-weight: 999;
    
    
    
}
  
ul.list-group{
    font-size: xx-large;
}
a.navlink{
    font-family: Segoe UI Historic  !important; 
    color: blue !important
}
a:hover{
    transform: skew(-5deg);
    
}
nav{
    justify-content: center;
    display: flex;
}
.nav-link{
    font-family: Segoe UI Historic  !important;
    font-size: xxx-large;
    display: block;
    font-weight: 999;
    color: blue !important;
}
body{
    background-color: #d2d2d2;
}
.navbar{
    display: block;
    color: blue !important;
    background-color: #d2d2d2 !important;
}
.navbar .navbar-nav {
    float: none;
    background-color:#d2d2d2!important
    
  }
  
  .navbar .navbar-collapse {
    text-align: center;
    justify-content: center;
  }
div.fluid_container{
    display: flex;
    justify-content: center;
    background-color:#d2d2d2;
}
.display-4{
    display: flex;
    justify-content: center;
    font-weight: 999;
    color: #DB4437;
}
p{
    display: flex;
    justify-content: center;
    font-size: xxx-large;
   
}
.btn-primary{
    display: block;
    justify-content: center;
}
.carousel-inner{
    justify-content: center;
}
.jumbotron{
    font-family: Segoe UI Historic !important;
    background-color:#d2d2d2;
    color: black;
    justify-content: center;
}
.navbar-nav .nav-link{
    color: #4285F4 !important;
}
svg{
    color: #F4B400!important;
}
i{
    color: #F4B400!important;
}
.container{
    display:flex;
    justify-content: center;
}
#para{
    display:flex;
    justify-content: center;
    font-size: 40px;
    
    font-family: Segoe UI;
    

}
.footer{
    display:flex;
    justify-content: center;
    font-size: x-large;
    font-family: Segoe UI !important;
}
.btn-group-lg>.btn, .btn-lg{
    width: 100px;
    display: flex !important;
    justify-content: center !important;
}
.buttons{
    display: flex;
    justify-content: center !important;
}


#paradiv{
    justify-content: center;
}
table{
    font-family: Segoe UI Historic !important;
    font-size: xx-large;

}
thead{
    background-color:#4285F4 !important ;
    color: #F4B400;
}
.btn-success{
    background-color: #0F9D58 !important;
    font-size: xx-large;
}

input#description{
    height: 100px;
}
input#reason_why{
    height: 100px;
}
form#application{
    font-size: xx-large;
}